In [209]:
import pandas as pd
from pymongo import MongoClient
import pymongo
import matplotlib.pyplot as plt
import seaborn as sns


client = MongoClient('mongodb://localhost:27017/')
db = client['tweet_db']
data=db.tweet_collection
col=data.find_one()

In [231]:
dff=[]
for tweet in range(len(col)):
    d={'id':col['user']['id'],
       'name':col['user']['name'],
       'location':col['user']['location'],
        'lang':col['lang'],
       'text':col['entities']['hashtags'][0]['text'],
      'retweet_count':col['retweet_count'],
       'favorite_count':col['favorite_count'],
       'favorited':col['favorited'],
       'retweeted':col['retweeted'],
       'possibly_sensitive':col['possibly_sensitive']}
    dff.append(d)

In [232]:
#df = pd.DataFrame(list(db.tweet_collection.find()))

In [233]:
df = pd.DataFrame(dff)
df

,id,name,location,lang,text,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive
0,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
1,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
2,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
3,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
4,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
5,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
6,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
7,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
8,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
9,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
10,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
11,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
12,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
13,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
14,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
15,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
16,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
17,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
18,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
19,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
20,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
21,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
22,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
23,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
24,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
25,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False
26,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,False,False,False

In [234]:
df.isna().sum()

id                    0
name                  0
location              0
lang                  0
text                  0
retweet_count         0
favorite_count        0
favorited             0
retweeted             0
possibly_sensitive    0
dtype: int64

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  27 non-null     int64
 1   name                27 non-null     object
 2   location            27 non-null     object
 3   lang                27 non-null     object
 4   text                27 non-null     object
 5   retweet_count       27 non-null     int64
 6   favorite_count      27 non-null     int64
 7   favorited           27 non-null     bool
 8   retweeted           27 non-null     bool
 9   possibly_sensitive  27 non-null     bool
dtypes: bool(3), int64(3), object(4)
memory usage: 1.7+ KB

In [236]:
#df['favorited'] = df['favorited'].replace({True: 1, False: 0})

#df['retweeted'] = df['retweeted'].replace({True: 1, False: 0})
#df['possibly_sensitive'] = df['possibly_sensitive'].replace({True: 1, False: 0})
#df['favorited'] = df['favorited'].map({True: 1, False: 0})

In [237]:
df.replace({False: 0, True: 1}, inplace=True) # change false and true using 0 and 1

In [238]:
df

,id,name,location,lang,text,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive
0,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
1,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
2,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
3,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
4,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
5,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
6,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
7,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
8,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
9,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
10,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
11,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
12,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
13,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
14,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
15,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
16,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
17,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
18,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
19,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
20,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
21,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
22,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
23,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
24,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
25,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0
26,91608548,𝔸𝕞𝕚𝕥𝕒𝕧 𝔹𝕙𝕒𝕥𝕥𝕒𝕔𝕙𝕒𝕣𝕛𝕖𝕖,"Bangalore, India",en,cyberwar,2,0,0,0,0

###